*{
    margin: 0;
    padding: 0;
}


#contenedor{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: black;
    align-items: center;
}

.cont-left,
.cont-right{
    width: 40%;
    border: 1px solid red;
    padding: 30px;
    text-align: center;
    min-height: 60vh;
    margin: 0 30px;
    box-shadow: 0 4px 16px 2px red;
}

h2{
    color: red;
    font-size: 50px;
    margin-bottom: 30px;
}

button{
    background: transparent;
    box-shadow: 0 4px 4px 2px red;
    padding: 12px 30px;
    width: 220px;
    color: red;
    border-radius: 4px;
    margin: 10px 30px;
    cursor: pointer;
}

#figura{
    width: 220px;
    height: 220px;
    margin: 60px auto;
    background: red;
    transition: 1s;
}

#figura.circulo{
    border-radius: 50%;
    transform: rotate(-360deg);
    background: rgb(199, 187, 199);
}